@{
    ViewData["Title"] = "Надіслати повідомлення";
}

<h1>Надіслати повідомлення</h1>

<div class="mb-3">
    <a asp-action="NotificationToAllIndex">Надіслати всім повідомлення</a>
</div>
<div>
    <a asp-action="NotificationToOneIndex">Надіслати повідомлення одному користувачу</a>
</div>
